*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color:#181719;
    color: white;
    font-family: 'Montserrat';
}

.me{
    text-align: center;
    color: #A9A9A9;

    margin-bottom: 46px;

    font-size: 14px;
}